@model TMS_DTO.DTOs.UserDTO

<!DOCTYPE html>
<html lang="en">

<head>
  
    <title>Login | TMS</title>
 

 
</head>

<body>

<h2>Add User</h2>

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">User</div>
        <div class="card-body">

            <form asp-action="Create" asp-controller="User" accept-charset="utf-8">
                <div class="row g-2">
                    <div class="mb-3 col-md-6">
                        <label asp-for="FirstName" class="form-label">First Name</label>
                        <input asp-for="FirstName" type="text" class="form-control" name="firstname" placeholder="First Name" required>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                      
                        <label asp-for="LastName" class="form-label">Last Name</label>
                        <input asp-for="LastName" type="text" class="form-control" name="lastname" placeholder="Last Name" required>
                        <span asp-validation-for="LastName" class="text-danger"></span>

                    </div>
                </div>

                <div class="row g-2">
                    <div class="mb-3 col-md-6">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" type="email" class="form-control" name="email" placeholder="Enter Your Email" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label asp-for="PhoneNo" class="form-label">Phone No</label>
                        <input asp-for="PhoneNo" type="text" class="form-control" name="phoneno" placeholder="Enter Your Phone Number" required>
                        <span asp-validation-for="PhoneNo" class="text-danger"></span>


                    </div>
                </div>

                <div class="row g-2">
                    <div class="mb-3 col-md-6">
                        <label asp-for="DOB" class="form-label">DOB</label>
                        <input asp-for="DOB" type="date" class="form-control" name="dob" required>

                    </div>
                    <div class="mb-3 col-md-6">
                     

                        <label asp-for="GenderId" class="form-label">Gendar</label>
                        <select asp-for="GenderId" name="GenderId" class="form-select" required>
                            <option value="" selected>Choose...</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>

                    </div>
                </div>

                <div class="row g-2">
                    <div class="mb-3 col-md-6">
                        <label asp-for="Address1" class="form-label">Address</label>
                        <input asp-for="Address1" type="text" class="form-control" name="address1" placeholder="Enter Your Address" required>

                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="RoleId" class="form-label">Role</label>
                        @{
                            var roles = ViewBag.Roles as List<SelectListItem>;
                            if (roles != null && roles.Any())
                            {
                                <select asp-for="RoleId" asp-items="@roles" class="form-control" required>
                                    <option value="">Select Role</option>
                                </select>
                            }
                            else
                            {
                                <p>No roles available</p>
                                @if (ViewBag.Roles == null)
                                {
                                    <p>ViewBag.Roles is null</p>
                                }
                                else
                                {
                                    <p>ViewBag.Roles is not of type List<SelectListItem></p>
                                }
                            }
                        }
                    </div>


                </div>

                <div class="row g-2">
                    <div class="mb-3 col-md-6">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input asp-for="Password" type="password" class="form-control" name="password" placeholder="Enter Your Password" required>
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="confirmpassword" placeholder="Enter Your Confirm Password" required>
                        <span class="text-danger"></span>
                    </div>
                </div>

                <div class="row g-2">
                    <div class="mb-3 col-md-6">
                    </div>

                </div>
                <div class="row g-2">
                    <div class="mb-3 col-md-6">
                        

                        <input asp-for="Status" class="form-check-input" type="checkbox" value="true" id="statusCheckbox" name="status">
                        <label asp-for="Status" class="form-check-label" for="statusCheckbox">
                            Status
                        </label>
                        <input type="hidden" name="Status" value="false" />

                    </div>
                </div>


                <button asp-action="Users" class="btn btn-primary btn-sm "><i class="fas fa-arrow-alt-circle-left"></i> Back</button>&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-success btn-sm "><i class="fas fa-save"></i> Save</button> 
            </form>
        </div>
    </div>
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    

</body>

</html>